/* --- MOBILE STYLES --- */

.landing .name {
  background-image: linear-gradient(60deg, #f5f5f5ab, #7b0606e2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 30px;
    color: transparent;
  }
  .landing .description {
    font-size: 22px;
  }
  
  .landingImage {
    right: 0px;
  }
  
  /* .landing .socialIcons {
    display: none;
  } */
  
  .landing .socialIcons {
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 20px;
  }
  
  /* --- MEDIA QUERIES --- */
  
  @media (min-width: 750px) {
    .landing .name {
      font-size: 70px;
    }
  
    .landing .description {
      font-size: 32px;
    }
  
    .landingImage {
      bottom: 0;
      right: 80px;
    }
  
    .landing .socialIcons {
      flex-direction: column;
    }
  }
  